/* https://stackoverflow.com/questions/54439548/display-loading-symbol-while-waiting-for-a-result-with-plot-ly-dash */



/* .modebar {
    left:"0px"
} */
.modebar {
    
    /* position: absolute; */
    left: 0px;
    top: 100px;
    
}

.column{
    float:left;
    width:50%
}

